form {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* input[type='submit'] {
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  border: none;
  background: #ff576b;
  cursor: pointer;
  margin-right: 2rem;
} */

input[type='submit'] {
  width: 100%;
  background-color: #403de4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px;
}

input[type='submit']:hover {
  background-color: #201cd6;
}

img {
  width: 40px;
}
