* {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Helvetica;
  font-weight: 1700;
  font-size: 62.5%;
  text-align: center;

  background-image: linear-gradient(#0079fb, #ff1, #ff576b, #b762fb, #459dfb, #4ee4c3, #ffd116, #ff576b);
  padding: 2rem;

  max-width: 100%;
  overflow-x: hidden;
}

/* UI */

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

div {
  max-width: 95rem;
  margin: 0 auto 0 auto;
}

textarea,
input,
select,
table {
  font-size: 1.5rem;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.flexcontainer {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.productTable {
  width: 500px;
}

#productForm {
  width: 80%;
}

span,
p {
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
}

h3 {
  font-size: 5rem;
  position: relative;
  /* left: -700px; */
}

/* Sections */

section {
  /* padding: 17rem 0 20rem 0; */
  padding: 2rem 0 2rem 0;
  border-top: 0.6rem solid #000;
  border-left: 0.6rem solid #000;
  border-right: 0.6rem solid #000;
}

section:last-of-type {
  border-bottom: 0.6rem solid #000;
}

p {
  position: relative;
  /* left: 1700px; */
}

.user {
  background-color: #ff576b;
}

.info {
  background-color: #4d5da5;
}

.chat {
  background-color: #e4949f;
}

.products {
  background-color: #4ee4c3;
}

.cart {
  background-color: #44ed92;
}

.misc {
  background-color: #b762fb;
}

td {
  vertical-align: middle;
}

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
