include partials/products.pug
br

center
  button(id='goBack' type='button' class='btn btn-primary') Volver

script.
  document.querySelector('#goBack').addEventListener('click', () => window.location.href = '/')
