* {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Helvetica;
  font-weight: 1700;
  font-size: 62.5%;
  text-align: center;

  background-image: linear-gradient(#0079fb, #ff1, #ff576b, #b762fb, #459dfb, #4ee4c3, #ffd116, #ff576b);
  padding: 2rem;

  max-width: 100%;
  overflow-x: hidden;
}

/* UI */

div {
  max-width: 90rem;
  margin: 0 auto 0 auto;
}

input,
select,
table {
  font-size: 1.5rem;
}

span,
p {
  font-size: 2.5rem;
  line-height: 2;
  font-weight: 700;
}

h3 {
  font-size: 7rem;
  position: relative;
  /* left: -700px; */
}

/* Sections */

section {
  padding: 17rem 0 20rem 0;
  border-top: 0.6rem solid #000;
  border-left: 0.6rem solid #000;
  border-right: 0.6rem solid #000;
}

section:last-of-type {
  border-bottom: 0.6rem solid #000;
}

p {
  position: relative;
  /* left: 1700px; */
}

.products {
  background-color: #4ee4c3;
}

.chat {
  background-color: #ff576b;
}

.main {
  background-color: #44ed92;
}

.misc {
  background-color: #b762fb;
}

td {
  vertical-align: middle;
}
