<% if (hasProducts) { %>
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product=> { %>
        <tr>
          <td>
            <%= product.id%>
          </td>
          <td>
            <%= product.title%>
          </td>
          <td>
            <%= product.price%>
          </td>
          <td><img src="<%= product.thumbnail%>"></td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <% } else { %>

    <div class="alert alert-primary" role="alert">
      There're not products available
    </div>

    <% } %>